

// Sass file to watch


// Main Color variable

$color-primary: #e67e22;
$color-primary-light-dark: #cf6d17;

// base text color
$color-text: #555; //davy's grey base font-color
$color-white: #fff;

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100, 300, 400;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHh30AXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html,
body {
    background-color: $color-white;
    color: $color-text;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

}

html{font-size: 62.5%}

body{
    font-size: 2rem;
    box-sizing: border-box;
}



.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width:  114rem; /*1140px to  114rem; */
    margin: 0 auto;
}

section {
    padding: 8rem 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    color: $color-white;
    font-size: 240%;
    word-spacing: .4rem;
    letter-spacing: .1rem;
}

h2 {
    font-size: 180%;
    word-spacing: .2rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: .1rem;
}

h3 {
    font-size: 110%;
    margin-bottom: 1.5rem;
}

h2:after {
    display: block;
    height: .2rem;
    background-color: $color-primary;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 3rem;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    display: block;
    color: $color-primary;
    margin-bottom: 1rem;
}

.icon-small {
    display: inline-block;
    width: 3rem;
    text-align: center;
    color: $color-primary;
    font-size: 120%;
    margin-right: 1rem;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -.5rem;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: $color-primary;
    text-decoration: none;
    padding-bottom: .1rem;
    border-bottom: .1rem solid $color-primary;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: $color-text;
    border-bottom: .1rem solid transparent;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 1rem 3rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 20rem;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-white;
    margin-right: 1.5rem;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: .1rem solid $color-primary;
    color: $color-primary;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: $color-primary-light-dark;
}

.btn-full:hover,
.btn-full:active {
    border: .1rem solid $color-primary-light-dark;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: .1rem solid $color-primary-light-dark;
    color: $color-white;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    text-align: center;
}

.logo {
    height: 10rem;
    width: auto;
    float: left;
    margin-top: 2rem;
}

.logo-black { 
    display: none;
    height: 5rem;
    width: auto;
    float: left;
    margin: .5rem 0;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 5.5rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 4rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: .8rem 0;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: .2rem solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: .2rem solid $color-primary;
}


/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 3rem;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: $color-white;
}


/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 .2rem .2rem #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 1.6rem 0;
    color: $color-text;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 3rem;
}


/* ----------------------------------------------- */
/* MEALS */
/* ----------------------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}



/* ----------------------------------------------- */
/* HOW IT WORKS SECTION */
/* ----------------------------------------------- */

.section-steps {
    background-color: #f4f4f4;
}

.steps-box {
    margin-top: 3rem;
}


.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 7rem;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 5rem;
}

.works-step:last-of-type {
    margin-bottom: 8rem;
}

.works-step div {
    color: $color-primary;
    font-size: 150%;
    height: 5.4rem;
    width: 5.4rem;
    border: .2rem solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 2.5rem;
    float: left;
    padding: .5rem;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 5rem;
    width: auto;
    margin-right: 1rem;
}


/* ----------------------------------------------- */
/* CITIES */
/* ----------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.city-feature {
    margin-bottom: .5rem;
}


/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */

.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: $color-white;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 4rem;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -.5rem;
    left: -.5rem;
}

cite {
    font-size: 90%;
    margin-top: 2.5rem;
    display: block;
}

cite img {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    vertical-align: middle;
}


/* ----------------------------------------------- */
/* SIGN UP */
/* ----------------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: $color-white;
    border-radius: .5rem;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 .2rem .2rem #efefef;
}

.plan-box div {
    padding: 1.5rem;
    border-bottom: .1rem solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}


.plan-price {
    font-size: 300%;
    margin-bottom: 1rem;
    font-weight: 100;
    color: $color-primary;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: .5rem 0;
}


/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: .7rem;
    border-radius: .3rem;
    border: .1rem solid #ccc;
}

textarea {
    height: 10rem;
}

input[type=checkbox] {
    margin: 1rem .5rem 1rem 0;
}

*:focus {outline: none;}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 5rem;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 2rem;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 2rem;
}



/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}

/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 1.8rem; }
    section { padding: 6rem 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box { margin-top: 1rem; }
    .steps-box:last-child { margin-top: 1rem; }
    .works-steps { margin-bottom: 4rem; }
    .works-step:last-of-type { margin-bottom: 6rem; }
    
    .app-screen { width: 50%; }
    
    .icon-small { 
        width: 1.7rem;
        margin-right: .5rem;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price { font-size: 250%; }
    .contact-form { width: 80%; }
}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 1.6rem; }
    section { padding: 3rem 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 3rem;
        margin-left: 2.5rem;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 1rem 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 1rem; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 1rem 0; }
    .sticky .mobile-nav-icon { margin-top: 1rem; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .app-screen { width: 40%; }
    .steps-box:first-child { text-align: center; }
    
    .works-step div {
        height: 4rem;
        width: 4rem;
        margin-right: 1.5rem;
        padding: .4rem;
        font-size: 120%;
    }
    
    .works-step { margin-bottom: 2rem; }
    .works-step:last-of-type { margin-bottom: 2rem; }
    
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 2.5rem 0; }
    .contact-form {width: 100%; }
}




